flows.json
[
    {
        "id": "a7b9d689.b8a5e8",
        "type": "tab",
        "label": "Flow1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Chill Detector",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "373e7d51.903ea2",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyS0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "1024",
        "bin": "bin",
        "out": "count",
        "addchar": true,
        "responsetimeout": "10000"
    },
    {
        "id": "9b419752.747168",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT Broker",
        "broker": "$(MQTTSERVERIP)",
        "port": "1883",
        "clientid": "$(MQTTCLIENTID)",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "65e743b1.3be17c",
        "type": "serial in",
        "z": "a7b9d689.b8a5e8",
        "name": "Teensy",
        "serial": "373e7d51.903ea2",
        "x": 70,
        "y": 140,
        "wires": [
            [
                "2af394dd.443cdc",
                "9c4cbe2.b12974"
            ]
        ]
    },
    {
        "id": "4701c7b6.e07908",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "FFT",
        "func": "var digAvg = 312.5; \nvar deltaDig = 287.5;\nvar npts = msg.payload.real.length;\nfor (ii = 0; ii < npts; ++ii)\n{\n    msg.payload.real[ii] = (msg.payload.real[ii] - digAvg) / deltaDig;\n    msg.payload.imag[ii] = (msg.payload.imag[ii] - digAvg) / deltaDig;\n}\n\ntransformRadix2(msg.payload.real,msg.payload.imag);\nfor (ii = 0; ii < npts; ++ii)\n{\n    msg.payload.real[ii] = msg.payload.real[ii] / npts;\n    msg.payload.imag[ii] = msg.payload.imag[ii] / npts;\n}\nreturn {'topic':'fft', 'payload':msg.payload};\n/* https://www.nayuki.io/res/free-small-fft-in-multiple-languages/fft.js\n * Computes the discrete Fourier transform (DFT) of the given complex vector, storing the result back into the vector.\n * The vector's length must be a power of 2. Uses the Cooley-Tukey decimation-in-time radix-2 algorithm.\n */\nfunction transformRadix2(real, imag) {\n\t// Length variables\n\tvar n = real.length;\n\tif (n != imag.length)\n\t\tthrow \"Mismatched lengths\";\n\tif (n == 1)  // Trivial transform\n\t\treturn;\n\tvar levels = -1;\n\tfor (var i = 0; i < 32; i++) {\n\t\tif (1 << i == n)\n\t\t\tlevels = i;  // Equal to log2(n)\n\t}\n\tif (levels == -1)\n\t\tthrow \"Length is not a power of 2\";\n\t\n\t// Trigonometric tables\n\tvar cosTable = new Array(n / 2);\n\tvar sinTable = new Array(n / 2);\n\tfor (var i = 0; i < n / 2; i++) {\n\t\tcosTable[i] = Math.cos(2 * Math.PI * i / n);\n\t\tsinTable[i] = Math.sin(2 * Math.PI * i / n);\n\t}\n\t\n\t// Bit-reversed addressing permutation\n\tfor (var i = 0; i < n; i++) {\n\t\tvar j = reverseBits(i, levels);\n\t\tif (j > i) {\n\t\t\tvar temp = real[i];\n\t\t\treal[i] = real[j];\n\t\t\treal[j] = temp;\n\t\t\ttemp = imag[i];\n\t\t\timag[i] = imag[j];\n\t\t\timag[j] = temp;\n\t\t}\n\t}\n\t\n\t// Cooley-Tukey decimation-in-time radix-2 FFT\n\tfor (var size = 2; size <= n; size *= 2) {\n\t\tvar halfsize = size / 2;\n\t\tvar tablestep = n / size;\n\t\tfor (var i = 0; i < n; i += size) {\n\t\t\tfor (var j = i, k = 0; j < i + halfsize; j++, k += tablestep) {\n\t\t\t\tvar l = j + halfsize;\n\t\t\t\tvar tpre =  real[l] * cosTable[k] + imag[l] * sinTable[k];\n\t\t\t\tvar tpim = -real[l] * sinTable[k] + imag[l] * cosTable[k];\n\t\t\t\treal[l] = real[j] - tpre;\n\t\t\t\timag[l] = imag[j] - tpim;\n\t\t\t\treal[j] += tpre;\n\t\t\t\timag[j] += tpim;\n\t\t\t}\n\t\t}\n\t}\n\t\n\t// Returns the integer whose value is the reverse of the lowest 'bits' bits of the integer 'x'.\n\tfunction reverseBits(x, bits) {\n\t\tvar y = 0;\n\t\tfor (var i = 0; i < bits; i++) {\n\t\t\ty = (y << 1) | (x & 1);\n\t\t\tx >>>= 1;\n\t\t}\n\t\treturn y;\n\t}\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 80,
        "wires": [
            [
                "e51a09aa.2b7ae8"
            ]
        ]
    },
    {
        "id": "8bf276a.f678288",
        "type": "serial out",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "serial": "373e7d51.903ea2",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "e3a916f6.e99d88",
        "type": "inject",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "8bf276a.f678288"
            ]
        ]
    },
    {
        "id": "2af394dd.443cdc",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Send 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "8bf276a.f678288"
            ]
        ]
    },
    {
        "id": "9c4cbe2.b12974",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Convert Bytes to Float",
        "func": "var npts = msg.payload.length / 8;\nvar buf = new ArrayBuffer(4);\nvar view = new DataView(buf);\nvar real = [];\nvar imag = [];\nfor (var ipt = 0; ipt < npts; ++ipt)\n{\n    for (ib = 0; ib < 4; ++ib) view.setUint8(ib, msg.payload[ipt * 4 + 3 - ib]);\n    real[ipt] = view.getFloat32(0);\n    for (ib = 0; ib < 4; ++ib) view.setUint8(ib, msg.payload[(ipt + npts) * 4 + 3 - ib]);\n    imag[ipt] = view.getFloat32(0);\n}\nreturn {'topic':'timeData', 'payload':{'real':real,'imag':imag}};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 140,
        "wires": [
            [
                "e8d0cc13.f226"
            ]
        ]
    },
    {
        "id": "e51a09aa.2b7ae8",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "FFTMAG",
        "func": "function getAttrObject(device, propName, attrName)\n{\n    var props = device[propName];\n    var attr = props.find(attr => attr.attr === attrName);\n    return attr;\n}\n\nvar npts = msg.payload.real.length\nvar npts2 = npts / 2;\nvar fftmag = [];\nvar mode = [];\nvar modeMin = 5;\nfor (var ii = 0; ii < npts2; ++ii)\n{\n    var fftMagPlus = 0.0;\n    var fftMagMinus = 0.0;\n    fftMagMinus = fftMagMinus + msg.payload.real[npts - 1 - ii] * msg.payload.real[npts - 1 - ii];\n    fftMagMinus = fftMagMinus + msg.payload.imag[npts - 1 - ii] * msg.payload.imag[npts - 1 - ii];\n    fftMagMinus = 1000.0 * Math.sqrt(fftMagMinus);\n    fftMagPlus = fftMagPlus + msg.payload.real[ii] * msg.payload.real[ii];\n    fftMagPlus = fftMagPlus + msg.payload.imag[ii] * msg.payload.imag[ii];\n    fftMagPlus = 1000.0 * Math.sqrt(fftMagPlus);\n    fftmag[ii] = (fftMagMinus + fftMagPlus) / 2;\n    mode[ii] = ii;\n}\nvar device = flow.get('device');\nvar minDisplayMode = getAttrObject(device, 'settings', 'minDisplayMode');\nvar maxDisplayMode = getAttrObject(device, 'settings', 'maxDisplayMode');\nif (minDisplayMode.value < 0) minDisplayMode.value = 0;\nif (minDisplayMode.value >= npts2) minDisplayMode.value = npts2 - 1;\nif (maxDisplayMode.value < 1) maxDisplayMode.value = 1;\nif (maxDisplayMode.value >= npts2) maxDisplayMode.value = npts2 - 1;\nif (minDisplayMode.value >= maxDisplayMode.value) minDisplayMode.value = maxDisplayMode.value - 1;\nfor (var ii = 0; ii < minDisplayMode.value; ++ii)\n{\n    fftmag[ii] = 0.0;\n}\nfor (var ii = maxDisplayMode.value; ii < npts2; ++ii)\n{\n    fftmag[ii] = 0.0;\n}\n\nvar maxAmp      = getAttrObject(device, 'readings', 'maxAmp');\nvar maxAmpMode  = getAttrObject(device, 'readings', 'maxAmpMode');\nvar avgPower    = getAttrObject(device, 'readings', 'avgPower');\nvar spectrum    = getAttrObject(device, 'readings', 'spectrum');\n\nmaxAmp.value = 0.0;\nmaxAmpMode.value = -1;\navgPower.value = 0.0;\nfor (var ii = minDisplayMode.value; ii <= maxDisplayMode.value; ++ii)\n{\n    if (maxAmp.value < fftmag[ii])\n    {\n        maxAmp.value = fftmag[ii];\n        maxAmpMode.value = ii;\n    }\n    avgPower.value = avgPower.value + fftmag[ii];\n}\navgPower.value = Math.round(100.0 * avgPower.value) / 100;\nmaxAmp.value = Math.round(100.0 * maxAmp.value) / 100;\nspectrum.value[0] = mode;\nspectrum.value[1] = fftmag;\nflow.set('device',device)\nreturn {topic:'device', payload:device};\n",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 80,
        "wires": [
            [
                "1ad192b8.ef1b7d"
            ]
        ]
    },
    {
        "id": "e8d0cc13.f226",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "BoxCar Time Data",
        "func": "if (msg.topic != 'timeData')\n{\n    context.set(msg.topic, msg.payload);\n    context.set('bufferPointer', -1);\n    return null;\n}\nvar numOfBuffers = context.get('numOfBuffers');\nif (numOfBuffers == undefined) return null;\nvar ptsPerBuffer = context.get('ptsPerBuffer');\nif (ptsPerBuffer == undefined) return null;\nvar bufferPointer = context.get('bufferPointer');\nif (bufferPointer < 0)\n{\n    bufferPointer = 0;\n    var  bufferData = [];\n    for (var ibuf = 0; ibuf < numOfBuffers; ++ibuf)\n    {\n        var real = [];\n        var imag = [];\n        for (var ipt = 0; ipt < ptsPerBuffer; ++ipt)\n        {\n            real[ipt] = 0;\n            imag[ipt] = 0;\n        }\n        bufferData[ibuf] = {'real':real, 'imag':imag};\n    }\n    context.set('bufferData', bufferData);\n}\nvar bufferData = context.get('bufferData');\nfor (var ipt = 0; ipt < ptsPerBuffer; ++ipt)\n{\n    bufferData[bufferPointer].real[ipt] = msg.payload.real[ipt];\n    bufferData[bufferPointer].imag[ipt] = msg.payload.imag[ipt];\n}\n++bufferPointer;\nif (bufferPointer == numOfBuffers) bufferPointer = 0;\ncontext.set('bufferPointer', bufferPointer);\ncontext.set('bufferData', bufferData);\n\nvar real = [];\nvar imag = [];\nfor (var ibuf = 0; ibuf < numOfBuffers; ++ibuf)\n{\n    for (var ipt = 0; ipt < ptsPerBuffer; ++ipt)\n    {\n        real[ibuf * ptsPerBuffer + ipt] = bufferData[bufferPointer].real[ipt];\n        imag[ibuf * ptsPerBuffer + ipt] = bufferData[bufferPointer].imag[ipt];\n    }\n    ++bufferPointer;\n    if (bufferPointer == numOfBuffers) bufferPointer = 0;\n}\n\nreturn {topic:msg.topic, payload:{'real':real,'imag':imag}};\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 80,
        "wires": [
            [
                "4701c7b6.e07908"
            ]
        ]
    },
    {
        "id": "5df4dd95.1d8d24",
        "type": "inject",
        "z": "a7b9d689.b8a5e8",
        "name": "numOfBuffers",
        "topic": "numOfBuffers",
        "payload": "4",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "e8d0cc13.f226"
            ]
        ]
    },
    {
        "id": "57d7fb1b.865524",
        "type": "inject",
        "z": "a7b9d689.b8a5e8",
        "name": "ptsPerBuffer",
        "topic": "ptsPerBuffer",
        "payload": "128",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "e8d0cc13.f226"
            ]
        ]
    },
    {
        "id": "ae145b10.dcad98",
        "type": "mqtt out",
        "z": "a7b9d689.b8a5e8",
        "name": "Publish Readings",
        "topic": "$(MQTTPUBLISHTOPIC)",
        "qos": "0",
        "retain": "false",
        "broker": "9b419752.747168",
        "x": 1190,
        "y": 80,
        "wires": []
    },
    {
        "id": "ca719e8e.03b35",
        "type": "mqtt in",
        "z": "a7b9d689.b8a5e8",
        "name": "Subscribe Settings",
        "topic": "$(MQTTSUBSCRIBETOPIC)",
        "qos": "0",
        "datatype": "auto",
        "broker": "9b419752.747168",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "78bcaa1a.e584a4"
            ]
        ]
    },
    {
        "id": "78bcaa1a.e584a4",
        "type": "json",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "bd2beb50.e5c8b8",
                "6dc631be.a8f27"
            ]
        ]
    },
    {
        "id": "6dc631be.a8f27",
        "type": "file",
        "z": "a7b9d689.b8a5e8",
        "name": "Write initSettings.json",
        "filename": "initSettings.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1000,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "bd2beb50.e5c8b8",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "createSettings",
        "func": "function getAttrObject(device, propName, attrName)\n{\n    var props = device[propName];\n    var attr = props.find(attr => attr.attr === attrName);\n    return attr;\n}\nvar device = msg.payload;\nfor (var ii = 0; ii < device.settings.length; ++ii)\n{\n    if (device.settings[ii].type == 'scalar')\n    {\n        device.settings[ii].alarm.value = 0;\n        if (!isNaN(device.settings[ii].value))\n        {\n            if (device.settings[ii].value < device.settings[ii].alarm.limits.low)  device.settings[ii].alarm.value = 1;\n            if (device.settings[ii].value < device.settings[ii].alarm.limits.lolo) device.settings[ii].alarm.value = 3;\n            if (device.settings[ii].value > device.settings[ii].alarm.limits.high) device.settings[ii].alarm.value = 2;\n            if (device.settings[ii].value > device.settings[ii].alarm.limits.hihi) device.settings[ii].alarm.value = 4;\n        }\n    }\n}\n\nflow.set('device', device);    \n\n\nreturn {topic:'settings',device};",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "198dbd00.79b393",
        "type": "inject",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "topic": "initSettings",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 160,
        "y": 360,
        "wires": [
            [
                "3b875ff3.8f057",
                "6efb8499.5ae52c"
            ]
        ]
    },
    {
        "id": "3b875ff3.8f057",
        "type": "file in",
        "z": "a7b9d689.b8a5e8",
        "name": "Read initSettings.json",
        "filename": "initSettings.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 380,
        "y": 360,
        "wires": [
            [
                "668cfe89.a58c1"
            ]
        ]
    },
    {
        "id": "668cfe89.a58c1",
        "type": "json",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 360,
        "wires": [
            [
                "c37ea33d.26db1"
            ]
        ]
    },
    {
        "id": "c37ea33d.26db1",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Save initSettings in Memory",
        "func": "flow.set('device', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 360,
        "wires": [
            [
                "bd2beb50.e5c8b8"
            ]
        ]
    },
    {
        "id": "1ad192b8.ef1b7d",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Check Reading Alarms",
        "func": "function getAttrObject(device, propName, attrName)\n{\n    var props = device[propName];\n    var attr = props.find(attr => attr.attr === attrName);\n    return attr;\n}\n\nvar linkQuality = getAttrObject(msg.payload, 'readings', 'linkQuality');\nvar signalLevel = getAttrObject(msg.payload, 'readings', 'signalLevel');\nlinkQuality.value = flow.get('linkQuality');\nsignalLevel.value = flow.get('signalLevel');\nfor (var ii = 0; ii < msg.payload.readings.length; ++ii)\n{\n    if (msg.payload.readings[ii].type == 'scalar')\n    {\n        msg.payload.readings[ii].alarm.value = 0;\n        if (!isNaN(msg.payload.readings[ii].value))\n        {\n            if (msg.payload.readings[ii].value < msg.payload.readings[ii].alarm.limits.low)  msg.payload.readings[ii].alarm.value = 1;\n            if (msg.payload.readings[ii].value < msg.payload.readings[ii].alarm.limits.lolo) msg.payload.readings[ii].alarm.value = 3;\n            if (msg.payload.readings[ii].value > msg.payload.readings[ii].alarm.limits.high) msg.payload.readings[ii].alarm.value = 2;\n            if (msg.payload.readings[ii].value > msg.payload.readings[ii].alarm.limits.hihi) msg.payload.readings[ii].alarm.value = 4;\n        }\n    }\n}\nflow.set('device', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 80,
        "wires": [
            [
                "ae145b10.dcad98"
            ]
        ]
    },
    {
        "id": "9780e448.67d428",
        "type": "exec",
        "z": "a7b9d689.b8a5e8",
        "command": "iwconfig",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 340,
        "y": 660,
        "wires": [
            [
                "cf3426d8.2e51a8"
            ],
            [],
            []
        ]
    },
    {
        "id": "334a5215.950eae",
        "type": "inject",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 180,
        "y": 660,
        "wires": [
            [
                "9780e448.67d428"
            ]
        ]
    },
    {
        "id": "cf3426d8.2e51a8",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Get Signal Quality",
        "func": "var info = msg.payload;\nvar linkStartIndex  = info.indexOf('Link Quality=');\nvar levelStartIndex = info.indexOf('Signal level=');\nvar linkStopIndex   = info.indexOf('/70');\nvar levelStopIndex   = info.lastIndexOf('dBm');\nvar linkQuality = Number(info.substring(linkStartIndex + 13, linkStopIndex));\nvar signalLevel =  Number(info.substring(levelStartIndex + 13, levelStopIndex - 1));\nvar ssid = info.substring(info.indexOf('ESSID') + 7);\nssid = ssid.substring(0,ssid.indexOf('\"'));\nvar val = {linkQuality : linkQuality, signalLevel: signalLevel, ssid:ssid};\nflow.set('linkQuality',linkQuality);\nflow.set('signalLevel', signalLevel);\nflow.set('ssid', ssid);\nreturn {topic :'test',payload : val};",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a5717ade.c331b8",
        "type": "rpi-lcd",
        "z": "a7b9d689.b8a5e8",
        "name": "LCD Display",
        "pins": "22,18,16,11,12,15",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "2c08c784.4d4218",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Boot message",
        "func": "//var info = '1:12345678901234567890\\n2:12345678901234567890';\nvar line1 = 'Chill Detector 03   ';\nvar line2 = 'Wifi: ' + flow.get('ssid');\nif (line2.length < 20)\n{\n    for (ii = line2.length; ii < 20; ++ii) line2 = line2 + ' ';\n}\nelse\n{\n    line2 = line2.substring(0,19);\n}\nvar message = '1:' + line1 + '\\n2:' + line2;\nreturn {topic:'test', payload:message};",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "a5717ade.c331b8"
            ]
        ]
    },
    {
        "id": "6efb8499.5ae52c",
        "type": "delay",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 340,
        "y": 420,
        "wires": [
            [
                "2c08c784.4d4218"
            ]
        ]
    },
    {
        "id": "7b249a10.f756e4",
        "type": "inject",
        "z": "a7b9d689.b8a5e8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "7",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "8e55ba1c.7fefb8"
            ]
        ]
    },
    {
        "id": "8e55ba1c.7fefb8",
        "type": "function",
        "z": "a7b9d689.b8a5e8",
        "name": "Update message",
        "func": "function getAttrObject(device, propName, attrName)\n{\n    var props = device[propName];\n    var attr = props.find(attr => attr.attr === attrName);\n    return attr;\n}\nvar device  = flow.get('device');\nvar maxAmp      = getAttrObject(device, 'readings', 'maxAmp');\nvar maxAmpMode  = getAttrObject(device, 'readings', 'maxAmpMode');\nvar avgPower    = getAttrObject(device, 'readings', 'avgPower');\n\nvar maxAmpRound = Math.round(maxAmp.value * 10) / 10;\nvar maxAmpString = maxAmpRound.toString();\nif (maxAmpString.indexOf('.') < 0) maxAmpString = maxAmpString + '.0';\nif (maxAmp.value > 999.0) maxAmpString = '***.*';\nvar maxAmpSpace = '';\nif (maxAmpRound < 100.0) maxAmpSpace = maxAmpSpace + ' ';\nif (maxAmpRound < 10.0)  maxAmpSpace = maxAmpSpace + ' ';\nvar line1 = 'Amp: ' + maxAmpSpace + maxAmpString;\nline1 = line1 + ' Freq: '\nmaxAmpModeSpace = '';\nif (maxAmpMode.value < 100) maxAmpModeSpace = maxAmpModeSpace + ' ';\nif (maxAmpMode.value < 10)  maxAmpModeSpace = maxAmpModeSpace + ' ';\nline1 = line1 + maxAmpModeSpace + maxAmpMode.value.toString();\nline1 = line1 + '\\n';\nvar avgPowNormalize = Math.round(20 * (avgPower.value / avgPower.alarm.limits.high));\nif (avgPowNormalize > 20) avgPowNormalize = 20;\nvar line2 = '';\nfor (ii = 0; ii < avgPowNormalize; ++ii) line2 = line2 + '*';\nif (avgPowNormalize < 20)\n{\n    for (ii = avgPowNormalize; ii < 20; ++ii) line2 = line2 + ' ';\n}\nvar message = '1:' + line1 + '2:' + line2;\n\n//var info = '1:12345678901234567890\\n2:12345678901234567890';\nreturn {topic:'test', payload:message};",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 500,
        "wires": [
            [
                "a5717ade.c331b8"
            ]
        ]
    }
]